node_modules
npm-debug.log
.git
.gitignore
.env
.env.*.local
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.github/
.editorconfig
README.md
.vscode
